<div class="hero-banner about-background-container">
  <div
    id="topoftheformTwo"
    class="container animate__animated animate__fadeIn animate__slow"
  >
    <div class="row">
      <div class="col-lg-12">
        <br />
        <div
          class="banner-subtitle"
          alt="About DBTWEB and the Founder Tony Trapp"
          title="About DBTWEB and the Founder Tony Trapp"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          About DBTWEB
        </div>
        <br />
        <br />
      </div>
      <br />
      <br />
      <div class="dbtwebcard mb-3">
        <img
          src="../../assets/towtony.jpg"
          class="dbtwebcard-img-top"
          data-aos="fade-down"
          data-aos-duration="2000"
          alt="Founder of DBTWEB.com Tony Trapp"
          title="Founder of DBTWEB.com Tony Trapp"
        />
        <div
          class="dbtweb-card-body"
          data-aos="zoom-out"
          data-aos-duration="2000"
        >
          <h5 class="dbtweb-card-title">
            About DBTWeb and the Founder C.E.O Tony Trapp
          </h5>
          <p class="dbtweb-card-text about_paragraph">
            I am originally from a small town called            
<a href="https://en.wikipedia.org/wiki/Sunland-Tujunga,_Los_Angeles"
   pTooltip
   class="landingLinks"
   target="_blank"
   [escape]="false"
   tooltipStyleClass="custom-tooltip"
   tooltipEvent="hover"
   pTooltip="About Tujunga,<br/><br/><img src='../../assets/BoltonHall_Tujunga_April2008.JPG' class='imgrounded'><br/><br/>Neighborhood in the San Fernando Valley region of the city of Los Angeles located by the foothills of the San Gabriel Mountains in the Crescenta Valley."
   alt="About Los Angeles">
Tujunga
</a>
near
            <a href="https://en.wikipedia.org/wiki/Los_Angeles"
   pTooltip
   class="landingLinks"
   target="_blank"
   tooltipPosition="top"
   [escape]="false"
   tooltipStyleClass="custom-tooltip"
   tooltipEvent="hover"
   pTooltip="About Los Angeles,<br/><br/><img src='../../assets/640px-Los_Angeles_with_Mount_Baldy.jpg' class='imgrounded'><br/><br/> the City of Los Angeles and often abbreviated as L.A., is the largest city in California. With an estimated population of nearly four million people."
   alt="About Los Angeles">
   Los Angeles, California
</a>
<a href="https://en.wikipedia.org/wiki/San_Francisco"
   pTooltip
   class="landingLinks"
   target="_blank"
   tooltipPosition="top"
   [escape]="false"
   tooltipStyleClass="custom-tooltip"
   tooltipEvent="hover"
   pTooltip="About San Francisco,<br/><br/><img src='../../assets/640px-San_Francisco_from_the_Marin_Headlands_in_August_2022.jpg' class='imgrounded'><br/><br/><strong>San Francisco</strong>, officially the City and County of San Francisco, is a cultural, commercial, and financial center of Northern California."
   alt="About San Francisco">
   San Francisco
</a>
in late 1999 where I got a job as an
<a href="https://www.jobhero.com/job-description/examples/culinary/assistant-pastry-chef"
   class="landingLinks"
   target="_blank"
   tooltipPosition="top"
   [escape]="false"
   tooltipStyleClass="custom-tooltip"
   tooltipEvent="hover"
   pTooltip="About Assistant Pastry Chef,<br/><br/><img src='../../assets/pastrychef.webp' class='imgrounded'><br/><br/><strong>Assistant pastry chefs</strong> should be passionate about making and presenting quality dessert dishes and have a desire to learn new recipes."
   alt="About Assistant Pastry Chef Job">
   Assistant Pastry Chef
</a>
at
<a href="https://www.sfgate.com/news/article/Sophisticated-cuisine-in-former-warehouse-3303565.php"
   class="landingLinks"
   target="_blank"
   tooltipPosition="top"
   [escape]="false"
   tooltipStyleClass="custom-tooltip"
   tooltipEvent="hover"
   pTooltip="About Elroys Resaurant,<br/><br/><img src='../../assets/elroys.webp' class='imgrounded'><br/><br/><strong>ELROYS</strong>, THE cavernous South of Market bar and restaurant that opened with a big splash three years ago, is just about the last place I would choose to eat. A well-capitalized branch of a Denver chain, Elroys began with a wacky southwestern / fusion menu and a bar scene that would not quit. Nothing about it appealed to me, including its name."
   alt="About Elroys Resaurant San Francisco">
   Elroy's restaurant
</a>
under
<a href="https://www.hotel-online.com/News/PressReleases1999_1st/Jan99_Elroys.html"
class="landingLinks"
target="_blank"
tooltipPosition="top"
[escape]="false"
tooltipStyleClass="custom-tooltip"
tooltipEvent="hover"
pTooltip="About Chef Marc Valiani, <br/><br/><img src='../../assets/marc.webp' class='imgrounded'><br/><br/><strong>Marc Valiani</strong>, former executive chef/partner of the San Francisco Provencal Restaurant LuLu and the Palo Alto Mediterranean Zibbibo, will create a new American eatery cuisine for ELROYS."
alt="About Chef Marc Valiani">
Executive Chef Marc Valiani
</a>
which was at south of Market Street at Folsom street and Beale
street. I was very excited but I always wanted to do
<a href="https://en.wikipedia.org/wiki/Web_design"
   class="landingLinks"
   target="_blank"
   tooltipPosition="top"
   [escape]="false"
   tooltipStyleClass="custom-tooltip"
   tooltipEvent="hover"
   pTooltip="About Web Design, <br/><br/><img src='../../assets/webdesign.webp' class='imgrounded'><br/><br/><strong>Web design</strong> encompasses many different skills and disciplines in the production and maintenance of websites."
   alt="About Web Design">
   web design
</a>
 and
            <a href="https://en.wikipedia.org/wiki/Web_development"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Web Development, <br/><br/><img src='../../assets/web_development.webp' class='imgrounded'><br/><br/>Web development is the work involved in developing a Web site for the Internet (World Wide Web) or an intranet (a private network)."
              alt="About Web Development"
              >web development</a
            >
            /
            <a
              href="https://en.wikipedia.org/wiki/Web_application"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Web Application Development, <br/><br/><img src='../../assets/web_application_developmen.webp' class='imgrounded'><br/><br/> a web application (or web app) is application software that runs on a web server."
              alt="About Web Application Development"
              >web application development</a
            >
            which was my real passion.
          </p>
          <p class="dbtweb-card-text">
            I started DBT web productions in 2001 which was designbytony.com,
            but then I condensed it to DBTweb. I started with a host of
            technologies such as
            <a
              href="https://en.wikipedia.org/wiki/HTML"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About HTML, <br/><br/><img src='../../assets/html5logo.webp' class='imgrounded'><br/><br/>html is the standard markup language for documents designed to be displayed in a web browser."
              alt="About HTML"
              >HTML(Hypertext Markup Language)</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/JavaScript"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Javscript,<br/><br/><img src='../../assets/javaacript.webp' class='imgrounded'><br/><br/> JavaScript enables interactive web pages and is an essential part of web applications."
              alt="About Javscript"
              >Javascript</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/CSS"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About CSS, <br/><br/><img src='../../assets/css.webp' class='imgrounded'><br/><br/> css is a style sheet language used for describing the presentation of a document written in a markup language such as HTML."
              alt="About CSS"
              >CSS(Cascading Style Sheets)</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/Adobe_Flash"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Adobe Flash,<br/><br/><img src='../../assets/flash.webp' class='imgrounded'><br/><br/> Adobe Flash is a multimedia software platform used for production of animations, rich web applications, desktop applications, mobile apps, mobile games, and embedded web browser video players."
              alt="About Adobe Flash"
              >Flash</a
            >
            with
            <a
              href="https://en.wikipedia.org/wiki/ActionScript"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About ActionScriptm,<br/><br/><img src='../../assets/actionscript.webp' class='imgrounded'><br/><br/> ActionScript was an object-oriented programming language originally developed by Macromedia Inc. (later acquired by Adobe Systems)."
              alt="About ActionScript"
              >Action Script</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/Adobe_Dreamweaver"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Dreamweaver,<br/><br/><img src='../../assets/dreamweaver.webp' class='imgrounded'><br/><br/> Adobe Dreamweaver is a proprietary web development tool from Adobe Inc. It was created by Macromedia in 1997 and developed by them until Macromedia was acquired by Adobe Systems in 2005."
              alt="About Dreamweaver"
              >Adobe Dreamweaver</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/Active_Server_Pages"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About ASP,<br/><br/><img src='../../assets/asp.webp' class='imgrounded'><br/><br/> Active Server Pages (ASP) is Microsoft's first server-side scripting language and engine for web pages that change by time or other circumstances."
              alt="About ASP (Active Server Pages)"
              >ASP (Active Server Pages)</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/XML"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About XML, <br/><br/><img src='../../assets/xml.webp' class='imgrounded'><br/><br/>Extensible Markup Language (XML) is a markup language that defines a set of rules for encoding documents in a format that is both human-readable and machine-readable."
              alt="About XML"
              >XML(Extensible Markup Language)</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/VBScript"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About VBScript, <br/><br/><img src='../../assets/vbscript.webp' class='imgrounded'><br/><br/> VBScript ('Microsoft Visual Basic Scripting Edition') is an Active Scripting language developed by Microsoft that is modeled on Visual Basic."
              alt="About VBScript"
              >VBScript(Visual Basic Script Edition)</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/XHTML"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About XHTML<br/><br/><img src='../../assets/web_application_developmen.webp' class='imgrounded'><br/><br/> Extensible HyperText Markup Language (XHTML) is part of the family of XML markup languages. It mirrors or extends versions of the widely used HyperText Markup Language (HTML), the language in which Web pages are formulated."
              alt="About XHTML"
              >XHTML(Extensible HyperText Markup Language)</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/XSLT"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About XSLT, <br/><br/><img src='../../assets/xslt.webp' class='imgrounded'><br/><br/>XSLT (Extensible Stylesheet Language Transformations) is a language for transforming XML documents into other XML documents, or other formats such as HTML for web pages, plain text or XSL Formatting Objects, which may subsequently be converted to other formats, such as PDF, PostScript and PNG. XSLT 1.0 is widely supported in modern web browsers."
              alt="About XSLT"
              >XSLT(Extensible Stylesheet Language Transformations)</a
            >
            and
            <a
              href="https://en.wikipedia.org/wiki/Microsoft_Access"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About MS Access, <br/><br/><img src='../../assets/msAccessDB.webp' class='imgrounded'><br/><br/>Microsoft Access stores data in its own format based on the Access Jet Database Engine. It can also import or link directly to data stored in other applications and databases."
              alt="About MS Access"
              >MS Access (low performance database)</a
            >. I started all of these things at the same time while working on
            designing web sites.
          </p>
          <p class="dbtweb-card-text">
            It was very hard at first, but I got better over the next five
            years. In 2003 I converted to
            <a
              href="https://en.wikipedia.org/wiki/ASP.NET"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About ASP.net Framework, <br/><br/><img src='../../assets/aspnetLogo.webp'><br/><br/>ASP.net Framework was first released in January 2002 with version 1.0 of the .NET Framework and is the successor to Microsoft's Active Server Pages (ASP) technology. ASP.NET is built on the Common Language Runtime (CLR), allowing programmers to write ASP.NET code using any supported .NET language. The ASP.NET SOAP extension framework allows ASP.NET components to process SOAP messages."
              alt="About ASP.net framework"
              >ASP.net framework 1.1</a
            >
            and converted to
            <a
              href="https://en.wikipedia.org/wiki/Microsoft_SQL_Server"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About SQL(Sequel) server Database, <br/><br/><img src='../../assets/microsoft-sql_server.webp'><br/><br/> Microsoft SQL Server is a relational database management system developed by Microsoft. As a database server, it is a software product with the primary function of storing and retrieving data as requested by other software applications—which may run either on the same computer or on another computer across a network (including the Internet)."
              alt="About SQL(Sequel) server"
              >SQL(Sequel) server Database</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/Transact-SQL"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About T-Sql, <br/><br/><img src='../../assets/t-sql-logo-png-transparent.webp'><br/><br/> Transact-SQL (T-SQL) is Microsoft's and Sybase's proprietary extension to the SQL (Structured Query Language) used to interact with relational databases. T-SQL expands on the SQL standard to include procedural programming, local variables, various support functions for string processing, date processing, mathematics, etc. and changes to the DELETE and UPDATE statements.Transact-SQL is central to using Microsoft SQL Server. All applications that communicate with an instance of SQL Server do so by sending Transact-SQL statements to the server, regardless of the user interface of the application."
              alt="About T-SQL"
              >T-SQL(Transact-SQL)</a
            >
            and
            <a
              href="https://en.wikipedia.org/wiki/JQuery"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Jquery, <br/><br/><img src='../../assets/jquerylogo.webp'><br/><br/>jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax. It is free, open-source software using the permissive MIT License. As of May 2019, jQuery is used by 73% of the 10 million most popular websites."
              alt="About Jquery"
              >Jquery</a
            >
            /
            <a
              href="https://en.wikipedia.org/wiki/Ajax_(programming)"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Ajax, <br/><br/><img src='../../assets/ajax.webp'><br/><br/> is a set of web development techniques using many web technologies on the client-side to create asynchronous web applications. With Ajax, web applications can send and retrieve data from a server asynchronously (in the background) without interfering with the display and behaviour of the existing page. By decoupling the data interchange layer from the presentation layer, Ajax allows web pages and, by extension, web applications, to change content dynamically without the need to reload the entire page. In practice, modern implementations commonly utilize JSON instead of XML. "
              alt="About Ajax"
              >Ajax(Asynchronous JavaScript and XML)</a
            >
            and
            <a
              href="https://en.wikipedia.org/wiki/JSON"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About JSON, <br/><br/><img src='../../assets/json.webp'><br/><br/>JSON (JavaScript Object Notation is an open standard file format and data interchange format that uses human-readable text to store and transmit data objects consisting of attribute&#x2013;value pairs and arrays (or other serializable values). It is a very common data format, with a diverse range of applications, one example being web applications that communicate with a server."
              alt="About JSON"
              >JSON (Javascript Object Notation)</a
            >.
          </p>
          <p class="dbtweb-card-text">
            I tried
            <a
              href="https://en.m.wikipedia.org/wiki/ColdFusion_Markup_Language"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Coldfusion, <br/><br/><img src='../../assets/coldfusion.webp' class='imgrounded'><br/><br/>Adobe ColdFusion is a commercial rapid web-application development computing platform created by J. J. Allaire in 1995. (The programming language used with that platform is also commonly called ColdFusion, though is more accurately known as CFML.) ColdFusion was originally designed to make it easier to connect simple HTML pages to a database. By version 2 (1996), it became a full platform that included an IDE in addition to a full scripting language."
              alt="About Coldfusion"
              >Coldfusion</a
            >
            and
            <a
              href="https://en.m.wikipedia.org/wiki/PHP"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About PHP, <br/><br/><img src='../../assets/php.webp' class='imgrounded'><br/><br/>PHP code is usually processed on a web server by a PHP interpreter implemented as a module, a daemon or as a Common Gateway Interface (CGI) executable. On a web server, the result of the interpreted and executed PHP code."
              alt="About PHP"
              >PHP(Personal Home Page)</a
            >, but
            <a
              href="https://en.wikipedia.org/wiki/ASP.NET_Web_Forms"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About ASP.net Web Forms, <br/><br/><img src='../../assets/aspnetwebforms.webp' class='imgrounded'><br/><br/>ASP.NET Web Forms is a web application framework and one of several programming models supported by the Microsoft ASP.NET technology. Web Forms applications can be written in any programming language which supports the Common Language Runtime, such as C# or Visual Basic. The main building blocks of Web Forms pages are server controls, which are reusable components responsible for rendering HTML markup and responding to events. A technique called view state is used to persist the state of server controls between normally stateless HTTP requests."
              alt="About ASP.net Web Forms"
              >ASP.NET Web Forms</a
            >
            is my preferred language and has everything built in that I need. I
            started on my own server which was
            <a
              href="https://en.m.wikipedia.org/wiki/Windows_Server_2003"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Windows Server 2003,<br/><br/><img src='../../assets/windowsServer2003.webp' class='imgrounded'><br/><br/>Windows Server 2003 is the second version of Windows Server operating system produced by Microsoft. It is also part of the Windows NT family of operating systems and was released on April 24, 2003. Derived from the Windows XP operating system, Windows Server 2003 is the successor to Windows 2000 and the predecessor to Windows Server 2008. An updated version, Windows Server 2003 R2, was released to manufacturing on December 6, 2005. Windows Server 2003's kernel was later adopted in the development of Windows Vista."
              alt="About Windows Server 2003"
              >Windows Server 2003</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/Adobe_Media_Server"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Flash Media Server, <br/><br/><img src='../../assets/flash.webp' class='imgrounded'><br/><br/>Adobe Media Server (AMS) is a proprietary data and media server from Adobe Systems (originally a Macromedia product). This server works with the Flash Player and HTML5 runtime to create media driven, multiuser RIAs (Rich Internet Applications). The server uses ActionScript 1, an ECMAScript based scripting language, for server-side logic. Prior to version 2, it was known as Flash Communication Server. Prior to version 5, it was known as Flash Media Server."
              alt="About Flash Media Server"
              >Flash Media Server</a
            >,
            <a
              href="https://en.wikipedia.org/wiki/Kerio_Technologies"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Kerio Mail Server, <br/><br/><img src='../../assets/kerioMailServer.webp' class='imgrounded'><br/><br/>Kerio Technologies incorporated in 2001, but its first product WinRoute Pro entered the Internet security market in 1997, as it was owned and maintained by Tiny Software until February 1, 2002. Tiny Software then transferred sales and development of its software to Kerio, where the developers continued to work on it under the Kerio brand."
              alt="About Kerio Mail Server"
              >Kerio Mail Server</a
            >
            and FTP server named
            <a
              href="https://en.wikipedia.org/wiki/FileZilla#FileZilla_Server"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Kerio Mail Server, <br/><br/><img src='../../assets/filezilla.webp' class='imgrounded'><br/><br/>FileZilla is a free and open-source, cross-platform FTP application, consisting of FileZilla Client and FileZilla Server. Clients are available for Windows, Linux, and macOS, servers are available for Windows only. Both server and client support FTP and FTPS (FTP over SSL/TLS), while the client can in addition connect to SFTP servers."
              alt="About Kerio Mail Server"
              >Filezilla</a
            >
            and I learned all about
            <a
              href="https://en.wikipedia.org/wiki/Server_(computing)"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Servers, <br/><br/><img src='../../assets/servers.webp' class='imgrounded'><br/><br/>In computing, a server is a piece of computer hardware or software (computer program) that provides functionality for other programs or devices, called <strong>clients</strong>. This architecture is called the client–server model. Servers can provide various functionalities, often called <strong>services</strong>, such as sharing data or resources among multiple clients, or performing computation for a client."
              alt="About Servers"
            >
              servers</a
            >
            as well as serving up websites at the same time. I had 100 clients
            that I host with out advertising, in 2015 I converted from Flash
            Media Server to
            <a
              href="https://en.wikipedia.org/wiki/Wowza_Streaming_Engine"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Wowza Server, <br/><br/><img src='../../assets/wozalogo.webp'><br/><br/>Wowza Streaming Engine (known as Wowza Media Server prior to version 4) is a unified streaming media server software developed by Wowza Media Systems. The server is used for streaming of live and on-demand video, audio, and rich Internet applications over IP networks to desktop, laptop, and tablet computers, mobile devices, IPTV set-top boxes, internet-connected TV sets, game consoles, and other network-connected devices. The server is a Java application deployable on most operating systems."
              alt="About Wowza Server"
              >Wowza Server</a
            >.
          </p>
          <p class="dbtweb-card-text">
            I was also interested in video and 3D and I got
            <a
              href="https://en.m.wikipedia.org/wiki/Cinema_4D"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip='About Cinema 4D, <br/><br/><img src=&apos;../../assets/cinema-4dlogo.webp&apos;><br/><br/>As of R21, only one version of Cinema 4D is available. It replaces all previous variants, including BodyPaint 3D, and includes all features of the past &#x27;Studio&#x27; variant. With R21, all binaries were unified. There is no technical difference between commercial, educational, or demo versions. The difference is now only in licensing. 2014 saw the release of Cinema 4D Lite, which came packaged with Adobe After Effects Creative Cloud 2014. "Lite" acts as an introductory version, with many features withheld. This is part of a partnership between the two companies, where a Maxon-produced plug-in, called Cineware, allows any variant to create a seamless workflow with After Effects. The "Lite" variant is dependent on After Effects CC, needing the latter application running to launch, and is only sold as a package component included with AE CS through Adobe.'
              alt="About Cinema 4D"
              >Cinema 4D</a
            >,
            <a
              href="https://en.m.wikipedia.org/wiki/Adobe_After_Effects"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Adobe After Effects, <br/><br/><img src='../../assets/adobe-logo-adobe-after-effects-logo-png-900_520.webp'><br/><br/>Adobe After Effects is a digital visual effects, motion graphics, and compositing application developed by Adobe Systems and used in the post-production process of film making, video games and television production. Among other things, After Effects can be used for keying, tracking, compositing, and animation. It also functions as a very basic non-linear editor, audio editor, and media transcoder. In 2019, the program won an Academy Award for scientific and technical achievement."
              alt="About Adobe After Effects"
              >Adobe After Effects</a
            >,
            <a
              href="https://en.m.wikipedia.org/wiki/Adobe_Audition"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Adobe Audition, <br/><br/><img src='../../assets/audtionLogo.webp'><br/><br/>Adobe Audition is a digital audio workstation developed by Adobe Inc. featuring both a multitrack, non-destructive mix/edit environment and a destructive-approach waveform editing view."
              alt="About Adobe Audition"
              >Adobe Audition</a
            >,
            <a
              href="https://en.m.wikipedia.org/wiki/Adobe_Fireworks"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Adobe fireworks, <br/><br/><img src='../../assets/fireworks.webp'><br/><br/>Adobe Fireworks (formerly Macromedia Fireworks) is a discontinued bitmap and vector graphics editor, which Adobe acquired in 2005. Fireworks was made for web designers for rapidly creating website prototypes and application interfaces. Its features included slices, which are segments of an image that are converted to HTML elements, and the ability to add hotspots, which are segments of an image that are converted to hyperlinks."
              alt="About Adobe fireworks"
              >Adobe fireworks</a
            >
            and a lot of plugins for these programs. I started to learn how to
            make videos and 3D objects and combine them together. I was also
            interested in audio and sound effects so I started learning that as
            well. You can see the videos in my
            <a
              href="/video"
              class="landingLinks"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About My Portfolio | Videos at DBTweb.com"
              alt="About My Portfolio | Videos at DBTweb.com"
              >portfolio</a
            >
            section.
          </p>
          <p class="dbtweb-card-text">
            Now I am doing
            <a
              href="https://en.m.wikipedia.org/wiki/WordPress"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Wordpress, <br/><br/><img src='../../assets/wordpresslogo.webp'><br/><br/>WordPress (WP, WordPress.org) is a free and open-source content management system (CMS) written in PHP and paired with a MySQL or MariaDB database. Features include a plugin architecture and a template system, referred to within WordPress as Themes. WordPress was originally created as a blog-publishing system but has evolved to support other web content types including more traditional mailing lists and forums, media galleries, membership sites, learning management systems (LMS) and online stores. WordPress is used by 41.4% of the top 10 million websites as of May 2021, WordPress is one of the most popular content management system solutions in use. WordPress has also been used for other application domains, such as pervasive display systems (PDS)."
              alt="About Wordpress"
              >Wordpress(content management system or CMS)</a
            >
            and
            <a
              href="https://en.wikipedia.org/wiki/Plesk"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Plesk, <br/><br/><img src='../../assets/plesk.webp' class='imgrounded'><br/><br/>Plesk is a commercial web hosting and server data center automation software with a control panel developed for Linux and Windows-based retail hosting service providers. Plesk's user management model is suitable for dedicated and shared hosting, allowing server administrators to set up new websites, reseller accounts, email accounts, and edit and create DNS entries through a web-based interface."
              alt="About Plesk"
              >plesk(server administraton on the web)</a
            >, I started that in 2015,
            <a
              href="https://en.m.wikipedia.org/wiki/Windows_Server_2019"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Windows Server 2019, <br/><br/><img src='../../assets/windowsServer2019.webp' class='imgrounded'><br/><br/>Windows Server 2019 is the ninth (and the latest) version of the Windows Server operating system by Microsoft, as part of the Windows NT family of operating systems. It is the third version of the server operating system based on the Windows 10 platform, after Windows Server 2016. It was announced on March 20, 2018 for the first Windows Insider preview release, and was released internationally on October 2, 2018."
              alt="About Windows Server 2019"
              >Windows Server 2019</a
            >,
            <a
              href="https://en.m.wikipedia.org/wiki/Microsoft_SQL_Server"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About SQL server 2019, <br/><br/><img src='../../assets/microsoft-sql_server.webp'><br/><br/>Microsoft SQL Server is a relational database management system developed by Microsoft. As a database server, it is a software product with the primary function of storing and retrieving data as requested by other software applications—which may run either on the same computer or on another computer across a network (including the Internet). Microsoft markets at least a dozen different editions of Microsoft SQL Server, aimed at different audiences and for workloads ranging from small single-machine applications to large Internet-facing applications with many concurrent users."
              alt="About SQL server 2019"
              >SQL server 2019</a
            >,
            <a
              href="https://en.m.wikipedia.org/wiki/.NET"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About .Net 8.0, <br/><br/><img src='../../assets/netcorelogo.webp'><br/><br/>.NET (pronounced as ' dot net'; previously named .NET Core) is a free and open-source, managed computer software framework for Windows, Linux, and macOS operating systems. It is a cross-platform successor to .NET Framework. The project is primarily developed by Microsoft employees by way of the .NET Foundation, and released under the MIT License."
              alt="About.Net 8.0"
              >.Net 8.0</a
            >,
            <a
              href="https://en.m.wikipedia.org/wiki/ASP.NET_MVC"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About MVC, <br/><br/><img src='../../assets/aspnetMVC.webp' class='imgrounded'><br/><br/>ASP.NET MVC is a web application framework developed by Microsoft that implements the model–view–controller (MVC) pattern. It is no longer in active development. It is open-source software, apart from the ASP.NET Web Forms component, which is proprietary."
              alt="About MVC"
              >MVC</a
            >
            and 
            <a
            href="https://en.m.wikipedia.org/wiki/Angular_(web_framework)"
            class="landingLinks"
            target="_blank"
            tooltipPosition="top"
            [escape]="false"
            tooltipStyleClass="custom-tooltip"
            tooltipEvent="hover"
            pTooltip="About Angular, <br/><br/><img src='../../assets/angular.jpg.png' class='imgrounded'><br/><br/>Angular (also referred to as 'Angular 2+') is a TypeScript-based free and open-source single-page web application framework. It is developed by Google and by a community of individuals and corporations."
            alt="About Angular"
            >Angular</a
          >
            with
            <a
              href="https://en.m.wikipedia.org/wiki/Microsoft_Visual_Studio"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Visual Studio 2022, <br/><br/><img src='../../assets/VS2019.webp' class='imgrounded'><br/><br/>Microsoft Visual Studio is an integrated development environment (IDE) from Microsoft. It is used to develop computer programs, as well as websites, web apps, web services and mobile apps. Visual Studio uses Microsoft software development platforms such as Windows API, Windows Forms, Windows Presentation Foundation, Windows Store and Microsoft Silverlight. It can produce both native code and managed code."
              alt="About Visual Studio 2022"
              >Visual Studio 2022</a
            > / 
            <a
            href="https://en.m.wikipedia.org/wiki/Visual_Studio_Code"
            class="landingLinks"
            target="_blank"
            tooltipPosition="top"
            [escape]="false"
            tooltipStyleClass="custom-tooltip"
            tooltipEvent="hover"
            pTooltip="About Visual Studio Code, <br/><br/><img src='../../assets/visualstudio_code-card.jpg' class='imgrounded'><br/><br/>Visual Studio Code, also commonly referred to as VS Code, is a source-code editor developed by Microsoft for Windows, Linux, macOS and web browsers. Features include support for debugging, syntax highlighting, intelligent code completion, snippets, code refactoring, and embedded version control with Git. Users can change the theme, keyboard shortcuts, preferences, and install extensions that add functionality."
            alt="About Visual Studio Code"
            >Visual Studio Code.</a
          >.
          One more thing
            <a
              href="https://en.m.wikipedia.org/wiki/Staten_Island"
              class="landingLinks"
              target="_blank"
              tooltipPosition="top"
              [escape]="false"
              tooltipStyleClass="custom-tooltip"
              tooltipEvent="hover"
              pTooltip="About Staten Island, <br/><br/><img src='../../assets/statenisland.webp' class='imgrounded'><br/><br/>Staten Island is the southernmost of New York City's 5 boroughs. It is connected to Lower Manhattan via the Staten Island Ferry, which runs across New York Harbor. Staten Island Zoo is home to kangaroos, birds of prey and snakes. The Snug Harbor Cultural Center and Botanical Garden features flower beds, Greek revival buildings and art galleries. Its grounds also include the Staten Island Childrens Museum."
              alt="About Staten Island"
              > I reside in Staten Island New York.</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
</div>
