<div class="hero-banner contact-background-container">
  <div id="topoftheformTwo" class="container animate__animated animate__fadeIn animate__slower">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-subtitle" data-aos="zoom-out" data-aos-duration="2000">Let's Discuss</div>

        <!-- Contact Form -->
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <!-- Name Field -->
          <div class="form-group" data-aos="fade-right" data-aos-duration="1000">
            <input type="text" pInputText id="name" formControlName="name" placeholder="Name" class="form-control" />
            <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="validation-error">
            </div>
          </div>

          <!-- Email Field -->
          <div class="form-group" data-aos="fade-left" data-aos-duration="2000">
            <input type="text" pInputText id="email" formControlName="email" placeholder="Email" class="form-control" />
            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="validation-error">
            </div>
          </div>

          <!-- Phone Field -->
          <div class="form-group" data-aos="fade-right" data-aos-duration="1000">
            <p-inputMask mask="(999) 999-9999" placeholder="(999) 999-9999" id="phone" formControlName="phone"></p-inputMask>
            <div *ngIf="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched" class="validation-error">
            </div>
          </div>

          <!-- State Dropdown -->
          <div class="form-group" data-aos="fade-right" data-aos-duration="1000">
            <p-dropdown formControlName="state" id="state"  [options]="stateFlags" optionLabel="name" [style]="{'width':'100%'}"
            placeholder="Please Select a State" [showClear]="true">
              <ng-template let-option pTemplate="item">
                <div class="state-item">
                  &nbsp; &nbsp;<img [src]="option.flag" class="state-flag" alt="{{option.name}}"/>
                  <span>{{option.name}}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <br />
          <br />
          <br />
          <div class="form-group" data-aos="fade-left" data-aos-duration="2000">
            <div *ngIf="contactForm.get('country')?.invalid && contactForm.get('country')?.touched">
            </div>
            <br />
              <p-dropdown 
              [options]="countries" 
              optionLabel="name" 
              [showClear]="true"
              [style]="{'width':'100%'}"
              formControlName="country" id="country" 
              placeholder="Please Select a Country">
              <ng-template let-country pTemplate="item">
                <div class="country-item">
                  <div [innerHTML]="country.flag"></div>
                  <div>{{ country.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="form-group" data-aos="fade-up" data-aos-duration="2000">
            <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
            </div>
            <textarea rows="10" cols="30" pInputTextarea id="message" formControlName="message" placeholder="Your message"></textarea>
          </div>
          <!-- Submit and Reset Buttons -->
          <button type="submit" class="dbtbtn">Send</button>&nbsp;&nbsp;
          <input type="reset" (click)="resetForm()" id="subcontact" value="Reset" class="dbtbtn" />
        </form>
      </div>
    </div>
  </div>
  <br /><br />

  <!-- PrimeNG Dialog for form submission -->
  <p-dialog [(visible)]="displayErrorDialog" [header]="dialogHeader" [modal]="true" [closable]="false" [draggable]="false">
    <ul>
      <li *ngFor="let error of errorMessages">{{ error }}</li>
    </ul>
    <span style="align-items: center">
      <button type="button" class="dbtbtn" pButton label="Close" (click)="closeDialog()">Close</button>
    </span>
  </p-dialog>
  <p-dialog [(visible)]="displayDialog" [header]="dialogHeader" [modal]="true" [closable]="false">
    <p>{{ errorMessages.join(', ') }}</p>
    <span style="align-items: center">
      <button type="button" class="dbtbtn" pButton label="Close" (click)="closeSuccessDialog()">Close</button>
    </span>
  </p-dialog>
  <p-dialog [(visible)]="isLoading" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false">
    <p>Loading... Please wait.</p>
  </p-dialog>
  
  <!-- <p-dialog [(visible)]="displayErrorDialog" [header]="dialogHeader" [modal]="true">
    <p>{{ errorMessages }}</p>
  </p-dialog> -->
</div>
