<div class="footer"> <div class="container"> <div class="footer-info-wrapper" data-aos="zoom-in" data-aos-duration="1000"
  data-aos-easing="ease-in-out"> <img class="footer-logo" src="/assets/logo.png" alt="DBTWeb.com" /> <div class="footer-desc"> Imagine The Possibilities </div></div></div></div><div class="copyright"> <div class="container"><p>&copy; 2003 - <span id="year">{{ currentYear }}</span> DBT Web Productions. All rights reserved.
  <a href="https://www.easyhost.cc" target="_blank" class="serices">Hosting By EasyHost</a>
</div></div><app-scroll-to-top></app-scroll-to-top>
